.tabtip{
    border: rgba(50, 50, 50, 0.52);
    background-color:#151f31;
    color: white;
}
.tabtipS{
    background-color: #d5dbe9;
    color:black;
    border: rgba(50, 50, 50, 0.52);
}
.tabtip1{
    background-color: white;
    color:black;
    border: rgba(50, 50, 50, 0.52);
}