.container {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);


  width: 600px; /* Full width (cover the whole page) */
  height: 70%; /* Full height (cover the whole page) */
  background-color: rgba(159, 165, 197, 0.664); /* Black background with opacity */
  cursor: pointer; /* Add a pointer on hover */
}
