.juliet-form-container {
    background: white;
    border: 1px solid #2C3E50;
    width: 100%;
  }
  
.juliet-form-container h1 {
    padding: 10px;
    background-color: #2C3E50;
    font-size: 20px;
    color: white;
    margin: 0;
}
  
.juliet-form {
    padding: 30px;
}

.juliet-submit  {
    background: #2C3E50;
    height: 40px;
    padding: 0 20px;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 40%;
    margin: auto;
  }
  
.juliet-signup-button {
  margin-top: 5px;
}

.juliet-input {
    display: block;
    width: 100%;
    margin: auto;
    height: 50px;
    font-size: 16px;
    border: 2px solid #2C3E50;
    padding-left: 12px;
    border-radius: 0.375em;
}

.juliet-input:focus {
  outline: none;
}