p {
  line-height: 10px;
}

#prikazTerminaRow {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-items: space-evenly;
  flex-wrap: wrap;
}

.mojaKartica {
  height: 300px;
  margin: 10px;
  overflow-y: auto;
}
#prikazTerminaRow {
  margin-top: unset;
}
