#terminCardTitle {
  text-align: center;
}

#terminCardBody {
  display: flex;
  align-self: center;
  width: 50%;
  flex-direction: column;
}

#terminCard {
  display: flex;
}

#omotacECHO {
  padding: 15px;
}

#listaGodina,
#listaDana,
#brCasova,
#satnica,
#odabirSemestra {
  align-self: flex-start;
  width: 97%;
}
.labelECHO {
  align-self: flex-start;
  margin: unset;
  margin-left: 10px;
}
#dugmeECHO1 {
  width: fit-content;
  align-self: flex-end;
}
#dugmeECHO2 {
  width: fit-content;
  align-self: flex-end;
}

#alertID {
  text-align: left;
}
