.chat-app-wrapper{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.list-wrapper{
    width: 20%;
    background: #5E0565;
    color: white;
}

.room-wrapper{
    width: 20%;
    background: #5E0565;
    color: white;
}

.msg-wrapper{
    flex: 2.5;
}