.chat-app-wrapper{
    display: flex;
    flex-direction: row;
}

.list-wrapper{
    width: 20%;
    /*background: #5E0565;*/
    color: white;
}

.room-wrapper{
    width: 20%;
    /*background: #5E0565;*/
    color: white;
    /*display: grid*/
    
}

.msg-wrapper{
    flex: 2.5;
}
.create-room-wrapper{
    display: grid;
    grid-row: 2/3;
    grid-template-columns: 50% 50%;
}