.chat-app-wrapper{
    height: 100%;
    display: flex;
    flex-direction: row;
}

.list-wrapper {
    width: 20%;
    border-left: 1px solid rgb(0,0,0,0.2);;
    padding: 0 12px 0 15px;
    /*background: #fcfcfc;*/
}

.right-wrapper {
    
}


/* .room-wrapper{
    overflow: auto;
    width: 20%;
    border-right: 1px solid rgb(0,0,0,0.2);
    padding: 0px 12px 0px 10px;
} */

ul {
    padding: 0px;
    margin: 0px;
}

ul {
    overflow: hidden;
}

ul:hover {
    overflow-y: scroll;
    
}

ul::-webkit-scrollbar {
    width: 0.66rem;
    padding-right: 3px;
    background: transparent;
}
  
  /* Track */
ul::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey;  */
    border-radius: 5px;
}
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #4f5a63    ; 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #212529; 
  }

.msg-wrapper{
    width: 65%;
    overflow: hidden;
}

.msg-wrapper .container {
    height: 100%;
    padding: 0px;
}

.input-all {
    padding: 0 10px 10px 10px;
    height: 15%;
    /* border-top: 1px solid rgb(0,0,0,0.2); */
    position: relative;
    background: white;
}

.input-all > * {
    background: white;
}

.messages {
    height: 85%;
}
/* .create-room-wrapper{ */
    /* display: grid; */
    /* grid-row: 2/3; */
    /* grid-template-columns: 50% 50%; */
/* } */