  .timeDiv{
    border: 1px solid black;
    border-radius: 5%;
    text-align: center;
    width: 25%
  }

  .actions {
    margin-bottom: -1rem;
  }
  .pretragaText{
    width: 40%; 
    height: 50px;
    border-radius: 0.5em;
    font-size: 14px;
    float: right;
    margin: 5px 20px 10px 10px;
    padding: 0px 10px 0px 10px;
    border: 1px solid rgba(134,134,134,.7);
    text-overflow: ellipsis;
    /* background-color: lightgray;  */
  }

  .message-header {
    height: 65px;
    display: block;
    border-bottom: 1px solid rgb(0, 0, 0, .2);
  }

  
  .nameOfRoom {
    width: 50%;
    float: left;
  }

  .hover-message:hover {
    background-color: rgb(0, 0, 0, .05);
  }