div {
    list-style-type: none;
    text-align: left;
}


.user {
    padding: 5px;
}

.user:hover {
    background-color: #7856AD
}

.user > * {
    display: inline;
}

.remove {
    display: none;
    float: right;
}

.user:hover .remove {
    display: inline;
}

.nameOfRoom h4{
    text-align: left;
    padding: 1rem;
}
