body{
    background-color: #C5CBE3;
  }
  
  .tema{
    background-color: #EFE2BA;
    border-radius: 25px;
    margin: 5%;
  }
  
  .slika_ime{
    float:left;
    padding: 10px;
  }
  
  .datum_komentari{
    display: flex;
    flex-direction:column;   
    overflow: auto;
    font-size: 9px;
  }
  
  .naziv_teme{
    display: flex;
    flex-direction:row; 
  }
  
  .stickyDugme{
    height:25px;
    width:20px;
    border-radius: 25px;
   margin: 10px;
  }
  