html {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  height: 100%;
  width: 100%;
  color: #2C3E50;
}

.chat-button {
  right: 10px;
  bottom: 10px;
  background: #5E0565;
  height: 50px;
  font-size: 16px;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: 0;
  box-shadow: 1px 1px 4px 1px grey;
  cursor: pointer;
}

.form-container {
  border: 1px solid black;
  width: 100%;
}

.form-container h1 {
  padding: 10px;
  background-color: rgb(0,0,0,0.8);
  font-size: 20px;
  color: white;
  margin: 0;
}

.form {
  padding: 30px;
}

.input  {
  display: block;
  width: 100%;
  margin: 20px auto;
  height: 50px;
  font-size: 20px
}

.submit  {
  height: 40px;
  padding: 0 20px;
  background-color: #5E0565;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.form {
  padding: 30px;
}

.input {
  display: block;
  width: 100%;
  margin: auto;
  height: 50px;
  font-size: 16px;
  border: 2px solid rgba(0,0,0,0.8);
  padding-left: 12px;
  border-radius: 0.375em;
}

.submit  {
  height: 40px;
  padding: 0 20px;
  background-color: #5E0565;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.chatapp  {
  margin: 0 auto;
  height: 80vh;
  border: 1px solid #a1a1a4;
}

.header  {
  padding: 0px;
  height: 3rem;
  color: white;
  margin-top: 0;
  text-align: center;
  border-bottom: 3px solid grey;
  /*background-color: #5E0565;*/
}

.message-list  {
  list-style-type: none;
  padding: 0px 10px;
  overflow: scroll;
  max-height: 100%;
  width: 100%;
}

.message-sender  {
  font-weight: bold;
  font-size: 1em;
  margin: 0;
}

.message-text  {
  margin-bottom: 10px;
  margin-top: 5px;
  color: 'black';
  padding: '10px';
  width: '90%';
  word-wrap: break-word;
}

.message-input  {
  background: white;

  /* width: 60%; */
  height: 40px;
  border: 0;
  /* border-top: 1px solid #e0e0e0; */
  font-size: 15px;  
}

.message-submit  {
  width: 30%;
  background-color: #5E0565;
  color: white;
  font-size: 1.5em;
  cursor: pointer;
}

*:focus {
  outline: none;
  border-color: black;
}

.input-field {
  padding: 5px 10px 5px 10px;
  height: 60%;
  border-radius: 0.45em;
  width: 100%;
  display: flex;
  box-shadow: none;
  flex-direction: row;
  margin: auto;
  text-align: center;
  border: 1px solid #7856AD;
}

.input-field > :nth-child(1n) {
  margin: auto;
}
/* .input-field:focus {
  border-color: #616061;
} */

.toggle-emoji {
  background: none;
  border-left: none;
  border: none;
  width: 40px;
  height: 40px;
  padding: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-emoji:focus {
  outline: none;
}
.toggle-colors {
  border: none;
  width: 50px;
  height: 50px;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.toggle-colors svg {
  width: 28px;
  height: 28px;
}
.toggle-emoji svg {
  width: 28px;
  height: 28px;
}
.emoji-popup {
  bottom: 110px !important; 
  transform: none !important; 
  position: fixed !important; 
  right: 75px !important; 
  left: auto !important; 
  top: auto !important; 
}
.colors-popup {
  bottom: 1pc !important; 
  transform: none !important; 
  position: fixed !important; 
  right: auto !important; 
  left: auto !important; 
  top: auto !important; 
}

